{%extends "CustomerDashboard.html"%}
{%block content%}
<br><br>
<form action="/customer/feedback" method="POST">
    {%csrf_token%}
    <div class="row form-group">
        <div class="col-sm">
            <label for="appointment">Worker Name</label>
            <select name="appointment_id" id="appointment" class="form-control">
                {%for item in app_obj%}
                <option value="{{item.id}}">{{item.worker.first_name}},{{item.work_name}} </option>
                {%endfor%}
            </select>
        </div>
        <div class="col-sm">
            <label for="quality">Work Quality</label>
            <input type="range" min="1" max="10" class="form-control" name="quality" id="quality">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm">
            <label for="wcin">Work Completed in Time</label>
            <select name="work_completed_in_time" id="wcin" class="form-control">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <div class="col-sm">
            <label for="polite">Polite</label>
            <select name="polite" id="polite" class="form-control">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm">
            <label for="behaviour">Behaviour</label>
            <select name="behaviour" id="behaviour" class="form-control">
                <option value="Good">Good</option>
                <option value="Average">Average</option>
                <option value="Bad">Bad</option>
            </select>
        </div>
        <div class="col-sm">
            <label for="rating">Rating</label>
            <input type="range" min="1" max="5" class="form-control" id="rating" name="rating">
        </div>
    </div>
    <input type="submit" value="Submit Feedback" class="btn btn-outline-primary">

</form>
{%endblock%}